*{
  margin: 0;
  padding: 0;
}

h1{
  width: 100%;
  margin: 30px;
}

.box{
  width: 100%;
  margin-left: 60px;
  line-height: 60px;
}

// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
